    <header-dir></header-dir>
    <h2>Admin Page</h2>

    <div ng-hide="adminLoginBoxes">
        <input ng-model="credentials.username" placeholder="admin username">
        <input type="password" ng-model="credentials.password" placeholder="admin username">
        <button type="button" ng-click='adminLogin()'>Login</button>
    </div>


<div class="adminContainer" ng-hide="adminUser">
    <button type="button" ng-click="toggleManageProducts()">Manage Products</button>
    <button type="button" ng-click="toggleManageAdmins()">Manage Admin Users</button>
    <div ng-hide="manageProducts">
        <div>
            <p>Add new Product</p>
            <input  placeholder="make" ng-model="product.make">
            <input  placeholder="price of new Product" ng-model="product.price">
            <input  placeholder="url img of new Product" ng-model="product.image">
            <input  placeholder="model" ng-model="product.model">
            <textarea  placeholder="long description of Product" ng-model="product.summary"></textarea>
            <input  placeholder="condition of Product" ng-model="product.condition">
            <input  placeholder="Category of Product" ng-model="product.category">
            <button ng-click="addProduct(product)">Add New</button>
            <br>
            <p>Update Product</p>
            <input  placeholder="id of Product" ng-model="prodId">
            <button ng-click="updateProduct(prodId, product)">Update</button>
        </div>

            <button ng-click="deleteProduct(prodId)">Delete</button>
        <div>
            <h4>products</h4>
            <ul class="products" ng-repeat="product in products">
                <li>{{product.make}}</li>
                <li>${{product.price}}</li>
                <li>{{product.image}}</li>
                <li>{{product.model}}</li>
                <li>{{product.summary}}</li>
                <li>{{product.condition}}</li>
                <li>{{product.category}}</li>
                <li>{{product.buyInDate}}</li>
                <li>{{product._id}}</li>
            </ul>
        </div>
    </div>

    <div ng-hide="manageAdmins">
        <input  placeholder="Last Name" ng-model="admin.username">
        <input  placeholder="Email" ng-model="admin.email">
        <input  type="password" placeholder="Password" ng-model="admin.password"><br>
        <input placeholder="Admin id" ng-model="adminID">
        <button type="button" ng-click="addAdmin(admin)">Add Admin</button>
        <button type="button" ng-click="updateAdmin(adminID, admin)">Update Admin</button>
        <button type="button" ng-click="deleteAdmin(adminID)">Delete Admin</button>

        <h4>Admins</h4>
        <ul class="adminsList" ng-repeat="admin in admins">
            <li>{{admin.username}}</li>
            <li>${{admin.email}}</li>
            <li>{{admin._id}}</li>
        </ul>
    </div>




<div class="container">
    <form class="well span7">
        <legend class="text-center"> Create Guitar Lessons Appointment</legend>
        <div class="row">
            <div class="span2">
                <label class="">First Name</label>
                <input type="text" class="span2" placeholder="">
                <label class="">Last Name</label>
                <input type="text" class="span2" placeholder="">
                <label class="">Phone</label>
                <input type="text" class="span2" placeholder="">
                <label class="">Email</label>
                <input type="text" class="span2" placeholder="">
                <select id="subject" name="subject" class="span2">
                    <option value="na" selected="" class="">Visit regarding...</option>
                    <option value="MySon" class="">My son</option>
                    <option value="MyDaughter" class="">My Daughter</option>
                    <option value="MyChild" class="">My step-son</option>
                    <option value="MyChild" class="">My step-daughter</option>
                    <option value="Nephew" class="">Nephew</option>
                    <option value="Niece" class="">Niece</option>
                    <option value="Niece" class="">Cousin</option>
                    <option value="MyChild" class="">Other</option>
                </select>
            </div>
            <div class="span5">
                <p class="">First Choice Date &amp; Time</p>
                <div class="btn-toolbar" style="margin: 0;">
                    <div class="btn-group">
                        <select class="">
                            <option value="Month" class="">- Month -</option>
                            <option value="January" class="">January</option>
                            <option value="February" class="">February</option>
                            <option value="March" class="">March</option>
                            <option value="April" class="">April</option>
                            <option value="May" class="">May</option>
                            <option value="June" class="">June</option>
                            <option value="July" class="">July</option>
                            <option value="August" class="">August</option>
                            <option value="September" class="">September</option>
                            <option value="October" class="">October</option>
                            <option value="November" class="">November</option>
                            <option value="December" class="">December</option>
                        </select>
                        <select class="">
                            <option value="Day" class="">- Day -</option>
                            <option value="01" class="">1</option>
                            <option value="02" class="">2</option>
                            <option value="03" class="">3</option>
                            <option value="03" class="">4</option>
                            <option value="03" class="">5</option>
                            <option value="03" class="">6</option>
                            <option value="03" class="">7</option>
                            <option value="03" class="">8</option>
                            <option value="03" class="">9</option>
                            <option value="03" class="">10</option>
                            <option value="03" class="">11</option>
                            <option value="03" class="">12</option>
                            <option value="03" class="">13</option>
                            <option value="03" class="">14</option>
                            <option value="03" class="">15</option>
                            <option value="03" class="">16</option>
                            <option value="03" class="">17</option>
                            <option value="03" class="">18</option>
                            <option value="03" class="">19</option>
                            <option value="03" class="">20</option>
                            <option value="03" class="">21</option>
                            <option value="03" class="">22</option>
                            <option value="03" class="">23</option>
                            <option value="03" class="">24</option>
                            <option value="03" class="">25</option>
                            <option value="03" class="">26</option>
                            <option value="03" class="">27</option>
                            <option value="03" class="">28</option>
                            <option value="03" class="">29</option>
                            <option value="03" class="">30</option>
                            <option value="03" class="">31</option>
                        </select>
                        <select class="">
                            <option value="Time" class="">Time am/pm</option>
                            <option value="10am" class="">10:00am</option>
                            <option value="1030am" class="">10:30am</option>
                            <option value="11am" class="">11:00am</option>
                            <option value="1130am" class="">11:30am</option>
                            <option value="12pm" class="">12:00pm</option>
                            <option value="1230pm" class="">12:30pm</option>
                            <option value="1pm" class="">1:00pm</option>
                            <option value="130pm" class="">1:30pm</option>
                            <option value="2pm" class="">2:00pm</option>
                            <option value="230pm" class="">2:30pm</option>
                            <option value="3pm" class="">3:00pm</option>
                            <option value="330pm" class="">3:30pm</option>
                            <option value="4pm" class="">4:00pm</option>
                            <option value="430pm" class="">4:30pm</option>
                        </select>
                        <label class="">Second Choice Date &amp; Time</label>
                        <select class="">
                            <option value="Month" class="">- Month -</option>
                            <option value="January" class="">January</option>
                            <option value="February" class="">February</option>
                            <option value="March" class="">March</option>
                            <option value="April" class="">April</option>
                            <option value="May" class="">May</option>
                            <option value="June" class="">June</option>
                            <option value="July" class="">July</option>
                            <option value="August" class="">August</option>
                            <option value="September" class="">September</option>
                            <option value="October" class="">October</option>
                            <option value="November" class="">November</option>
                            <option value="December" class="">December</option>
                        </select>
                        <select class="">
                            <option value="Day" class="">- Day -</option>
                            <option value="01" class="">1</option>
                            <option value="02" class="">2</option>
                            <option value="03" class="">3</option>
                            <option value="03" class="">4</option>
                            <option value="03" class="">5</option>
                            <option value="03" class="">6</option>
                            <option value="03" class="">7</option>
                            <option value="03" class="">8</option>
                            <option value="03" class="">9</option>
                            <option value="03" class="">10</option>
                            <option value="03" class="">11</option>
                            <option value="03" class="">12</option>
                            <option value="03" class="">13</option>
                            <option value="03" class="">14</option>
                            <option value="03" class="">15</option>
                            <option value="03" class="">16</option>
                            <option value="03" class="">17</option>
                            <option value="03" class="">18</option>
                            <option value="03" class="">19</option>
                            <option value="03" class="">20</option>
                            <option value="03" class="">21</option>
                            <option value="03" class="">22</option>
                            <option value="03" class="">23</option>
                            <option value="03" class="">24</option>
                            <option value="03" class="">25</option>
                            <option value="03" class="">26</option>
                            <option value="03" class="">27</option>
                            <option value="03" class="">28</option>
                            <option value="03" class="">29</option>
                            <option value="03" class="">30</option>
                            <option value="03" class="">31</option>
                        </select>
                        <select class="">
                            <option value="Time" class="">Time am/pm</option>
                            <option value="10am" class="">10:00am</option>
                            <option value="1030am" class="">10:30am</option>
                            <option value="11am" class="">11:00am</option>
                            <option value="1130am" class="">11:30am</option>
                            <option value="12pm" class="">12:00pm</option>
                            <option value="1230pm" class="">12:30pm</option>
                            <option value="1pm" class="">1:00pm</option>
                            <option value="130pm" class="">1:30pm</option>
                            <option value="2pm" class="">2:00pm</option>
                            <option value="230pm" class="">2:30pm</option>
                            <option value="3pm" class="">3:00pm</option>
                            <option value="330pm" class="">3:30pm</option>
                            <option value="4pm" class="">4:00pm</option>
                            <option value="430pm" class="">4:30pm</option>
                        </select>
                    </div>
                    <!-- /btn-group -->
                </div>
                <label class="">Message</label>
                <textarea name="message" id="message" class="span4" rows="10" style="width: 96%"></textarea>
            </div>
            <button type="submit" class="btn btn-warning" style="margin-left: 32%;" contenteditable="false">Submit</button>
        </div>
    </form>
</div>
</div>
