<header-dir></header-dir>
<br>
<br>
<br>
<h2 class="text-center">Admin Page</h2>

<div class="adminContainer">
    <button class="btn btn-default" class="form-control" type="button" ng-click="toggleManageProducts()">Manage Products</button>
    <button class="btn btn-default" class="form-control" type="button" ng-click="toggleManageAdmins()">Manage Admin Users</button>
    <button class="btn btn-default" class="form-control" type="button" ng-click="toggleLessonsAppointment()">Manage Guitar Lessons</button>
    <button class="btn btn-default" class="form-control" type="button" ng-click="toggleManageStudio()">Manage Studio Sessions</button>

    <div class="container" ng-hide="manageProducts">
        <form class="well span7">
            <legend class="text-center"> Manage Products</legend>
            <label>Product Make </label>
            <input class="input-sm" ng-model="product.make">
            <label>Product Price </label>
            <input class="input-sm" ng-model="product.price">
            <label>Product Image Path</label>
            <input class="input-sm" ng-model="product.image">
            <label>Product Model </label>
            <input class="input-sm" ng-model="product.model">
            <label>Product Details </label>
            <br>
            <textarea class="form-control" ng-model="product.summary"></textarea>
            <label>Product Condition </label>
            <select class="form-control" ng-model="product.condition">
                <option value="Mint">Mint</option>
                <option value="Good">Good</option>
                <option value="Used">Used</option>
            </select>
            <label>Product Category</label>
            <br>
            <select class="form-control" ng-model="product.category">
                <option value="GuitarType">Guitar</option>
                <option value="BassType">Bass</option>
                <option value="AmpType">Amp</option>
            </select>
            <br>
            <br>
            <br>
            <label>Update Product By ID</label>
            <input class="input-sm" ng-model="prodId">
            <button class="btn btn-success" ng-click="addProduct(product)">Add New Product</button>
            <button class="btn btn-warning" ng-click="updateProduct(prodId, product)">Update</button>
        </form>

        <div class="adminsList">
            <h4>Products</h4>
            <ul class="products" ng-repeat="product in products">
                <li>{{product.make}}</li>
                <li>${{product.price}}</li>
                <li>{{product.image}}</li>
                <li>{{product.model}}</li>
                <li>{{product.summary}}</li>
                <li>{{product.condition}}</li>
                <li>{{product.category}}</li>
                <li>{{product.buyInDate}}</li>
                <li>{{product._id}}</li>
                <button class="btn btn-danger" ng-click="deleteProduct(product._id, product.model)">Delete</button>
            </ul>
        </div>
    </div>

    <div class="container" ng-hide="manageAdmins">
        <form class="well span7">
            <legend class="text-center"> Manage Admin Users</legend>
            <label>Last Name</label>
            <input class="input-sm" ng-model="admin.username">
            <label>Email</label>
            <input class="input-sm" ng-model="admin.email">
            <label>Password</label>
            <input class="input-sm" type="password" ng-model="admin.password" required minlength="6">
            <div ng-messages="myForm.myField.$error">
                <div ng-message="required">You did not enter a field</div>
                <div ng-message="minlength">The value entered is too short</div>
            </div>
            <br>
            <label>Update Admin By ID</label>
            <input class="input-sm" ng-model="adminID">
            <button class="btn btn-success" type="button" ng-click="addAdmin(admin)">Add Admin</button>
            <button class="btn btn-warning" type="button" ng-click="updateAdmin(adminID, admin)">Update Admin</button>
        </form>

        <div class="adminsList">
            <h4>Admins</h4>
            <ul class="adminsList" ng-repeat="admin in admins">
                <li><b>Username</b>: {{admin.username}}</li>
                <li><b>Email</b>: {{admin.email}}</li>
                <li><b>ID</b>: {{admin._id}}</li>
                <button class="btn btn-danger" type="button" ng-click="deleteAdmin(admin._id, admin.username)">Delete Admin</button>
            </ul>
        </div>
    </div>

    <div class="container" ng-hide="lessonsAppointment">
        <form class="well span7">
            <legend class="text-center"> Manage Guitar Lessons</legend>
            <div class="row">
                <div class="span2">
                    <label>First Name</label>
                    <input type="text" class="input-sm" ng-model="lesson.firstName">
                    <label>Last Name</label>
                    <input type="text" class="input-sm" ng-model="lesson.lastName">
                    <label>Phone</label>
                    <input type="text" class="input-sm" ng-model="lesson.phone">
                    <label>Email</label>
                    <input type="text" class="input-sm" ng-model="lesson.email">
                    <label>Instructor</label>
                    <input type="text" class="input-sm" ng-model="lesson.Instructor">
                </div>
                <div>
                    <label>Date and Time</label>
                    <div class="btn-toolbar" style="margin: 0;">
                        <div class="btn-group">
                            <label>Month</label>
                            <select ng-model="lesson.date.month">
                                <option value="Month">- Month -</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                            <label>Day</label>
                            <select ng-model="lesson.date.day">
                                <option value="Day">- Day -</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="03">4</option>
                                <option value="03">5</option>
                                <option value="03">6</option>
                                <option value="03">7</option>
                                <option value="03">8</option>
                                <option value="03">9</option>
                                <option value="03">10</option>
                                <option value="03">11</option>
                                <option value="03">12</option>
                                <option value="03">13</option>
                                <option value="03">14</option>
                                <option value="03">15</option>
                                <option value="03">16</option>
                                <option value="03">17</option>
                                <option value="03">18</option>
                                <option value="03">19</option>
                                <option value="03">20</option>
                                <option value="03">21</option>
                                <option value="03">22</option>
                                <option value="03">23</option>
                                <option value="03">24</option>
                                <option value="03">25</option>
                                <option value="03">26</option>
                                <option value="03">27</option>
                                <option value="03">28</option>
                                <option value="03">29</option>
                                <option value="03">30</option>
                                <option value="03">31</option>
                            </select>
                            <label>Time</label>
                            <select ng-model="lesson.date.time">
                                <option value="Time">Time am/pm</option>
                                <option value="10am">10:00am</option>
                                <option value="1030am">10:30am</option>
                                <option value="11am">11:00am</option>
                                <option value="1130am">11:30am</option>
                                <option value="12pm">12:00pm</option>
                                <option value="1230pm">12:30pm</option>
                                <option value="1pm">1:00pm</option>
                                <option value="130pm">1:30pm</option>
                                <option value="2pm">2:00pm</option>
                                <option value="230pm">2:30pm</option>
                                <option value="3pm">3:00pm</option>
                                <option value="330pm">3:30pm</option>
                                <option value="4pm">4:00pm</option>
                                <option value="430pm">4:30pm</option>
                            </select>
                        </div>
                    </div>
                    <label class="">Details</label>
                    <textarea id="message" class="span4" rows="10" style="width: 96%" ng-model="lesson.details"></textarea>
                </div>
                <label>Lesson ID</label>
                <input type="text" class="input-sm" ng-model="lessonID">
                <button type="submit" class="btn btn-success" ng-click="newLesson(lesson)">Add New Lesson</button>
                <button type="submit" class="btn btn-warning" ng-click="updateLesson(lessonID, lesson)">Update Lesson</button>
            </div>
        </form>
        <div class="adminsList">
            <h4>Lessons</h4>
            <ul ng-repeat="lesson in lessons">
                <li><b>Student:</b> {{lesson.firstName}} {{lesson.lastName}}</li>
                <li><b>Phone:</b> {{lesson.phone}}</li>
                <li><b>Email:</b> {{lesson.email}}</li>
                <li><b>Instructor </b>{{lesson.Instructor}}</li>
                <li><b>Lesson Date:</b> {{lesson.date.month}} {{lesson.date.day}} {{lesson.date.time}}</li>
                <li><b>Lesson Details:</b> {{lesson.detail}}</li>
                <li><b>Date Booked:</b> {{lesson.dateCreated}}</li>
                <li><b>ID:</b> {{lesson._id}}</li>
                <button type="submit" class="btn btn-danger" style="margin-left: 32%;" contenteditable="false" ng-click="deleteLesson(lesson._id, lesson.email)">Delete Lesson</button>
            </ul>
        </div>
    </div>

    <div class="container" ng-hide="recordingSessionAppointment">
        <form class="well span7">
            <legend class="text-center">Manage Studio Sessions</legend>
            <div class="row">
                <div class="span2">
                    <label>First Name</label>
                    <input type="text" class="input-sm" ng-model="studioSession.firstName">
                    <label>Last Name</label>
                    <input type="text" class="input-sm" ng-model="studioSession.lastName">
                    <label>Phone</label>
                    <input type="text" class="input-sm" ng-model="studioSession.phone">
                    <label>Email</label>
                    <input type="text" class="input-sm" ng-model="studioSession.email">
                    <label>Sound Engineer</label>
                    <input type="text" class="input-sm" ng-model="studioSession.instructor">
                </div>
                <div class="span5">
                    <label>Date and Time</label>
                    <div class="btn-toolbar" style="margin: 0;">
                        <div class="btn-group">
                            <select ng-model="studioSession.date.month">
                                <option value="Month">- Month -</option>
                                <option value=0>January</option>
                                <option value=1>February</option>
                                <option value=2>March</option>
                                <option value=3>April</option>
                                <option value=4>May</option>
                                <option value=5>June</option>
                                <option value=6>July</option>
                                <option value=7>August</option>
                                <option value=8>September</option>
                                <option value=9>October</option>
                                <option value=10>November</option>
                                <option value=11>December</option>
                            </select>
                            <select ng-model="studioSession.date.day">
                                <option value="Day">- Day -</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                            <select ng-model="studioSession.date.time">
                                <option value="Time">Time am/pm</option>
                                <option value="10am">10:00am</option>
                                <option value="1030am">10:30am</option>
                                <option value="11am">11:00am</option>
                                <option value="1130am">11:30am</option>
                                <option value="12pm">12:00pm</option>
                                <option value="1230pm">12:30pm</option>
                                <option value="1pm">1:00pm</option>
                                <option value="130pm">1:30pm</option>
                                <option value="2pm">2:00pm</option>
                                <option value="230pm">2:30pm</option>
                                <option value="3pm">3:00pm</option>
                                <option value="330pm">3:30pm</option>
                                <option value="4pm">4:00pm</option>
                                <option value="430pm">4:30pm</option>
                            </select>
                        </div>
                    </div>
                    <label class="">Details</label>
                    <textarea id="message" class="span3" rows="10" style="width: 96%" ng-model="studioSession.details"></textarea>
                </div>
                <label>Studio Session ID</label>
                <input type="text" class="input-sm" ng-model="studioSessionID">
                <button type="submit" class="btn btn-success" ng-click="newStudioSession(studioSession)">Add New Studio Session</button>
                <button type="submit" class="btn btn-warning" ng-click="updateStudioSession(studioSessionID, studioSession)">Update Studio Session</button>
            </div>
        </form>
        <div class="adminsList">
            <h4>Studio Sessions</h4>
            <ul ng-repeat="session in sessions">
                <li><b>Artist</b>: {{session.firstName}} {{session.lastName}}</li>
                <li><b>Phone</b>: {{session.phone}}</li>
                <li><b>Email</b>: {{session.email}}</li>
                <li><b>Sound Engineer</b>: {{session.Instructor}}</li>
                <li><b>Session Date</b>: {{session.date.month}} {{session.date.day}} {{session.date.time}}</li>
                <li><b>Details</b>: {{session.detail}}</li>
                <li><b>Date Created</b>: {{session.dateCreated}}</li>
                <li><b>ID</b>: {{session._id}}</li>
                <button type="submit" class="btn btn-danger" ng-click="deleteStudioSession(session._id)">Delete Studio Session</button>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <h2 class="text-center">Studio Sessions Schedule</h2>
    <div class="calWrapper">
        <div class="col-lg-10 calendar" ui-calendar='calOptions' ng-model="eventSources">

        </div>
    </div>
</div>
<toaster-container></toaster-container>
