<header-dir></header-dir>

<div class="container productContainer">
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-12">
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="./images/Guitar-Wall800x300.png" alt="Guitar Wall">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
        <div>Filter By Types of Products</div>
        <select class="form-control" name ="orderByKey" ng-model="sortBy.category">
            <option value="AmpType">Amp</option>
            <option value="GuitarType">Guitar</option>
            <option value="BassType">Bass</option>
            <option value="a">All</option>
        </select>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat="product in products | filter:sortBy.category | filter: orderBy.price">
            <div class="thumbnail">
                <div data-toggle="modal" data-target="#{{product._id}}">
                    <a href="" class="prodImg"><img ng-src={{product.image}} alt="Product Image"></a>
                </div>
                <div class="caption">
                    <h4 class="pull-right">${{product.price}}</h4>
                    <h3 class="productMake">{{product.make}}</h3>
                    <p class="text-center prodModel">{{product.model}}</p>
                    <div class="ratings">
                        <p class="pull-right">Condition: {{product.condition}}</p>
                    </div>
                </div>
            </div>
            <!-- MODAL -->
            <div class="modal fade" id={{product._id}}>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">{{product.make}}</h4>
                        </div>
                        <div class="modal-body">
                            <img src={{product.image}} alt="Product Image in Modal" />
                            <p>{{product.summary}}<p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-dir></footer-dir>
